{% extends 'ECommerceECommerceBundle::layoutFrondEnd.html.twig' %}

{% block menu %}
    {% render(controller('ECommerceECommerceBundle:FrontEnd/Categorie:list')) %}
{% endblock %}

{% block pagecontain %}

    <div class="span9">

        <ul class="thumbnails">
            {% for produit in list_produits %}
            <li class="span3">
                <div class="thumbnail">
                    <img src="{{ asset(produit.media.path) }}" alt="{{ produit.description }}" width="300" height="300">

                    <div class="caption">
                        <h4>{{ produit.nom }}</h4>
                        {% if produit.tva.valeur is not null %}
                        <p>{{ produit.prix|tva(produit.tva.multiplicate) }} €</p>
                        {% endif %}

                        <td>
                            <a class="btn btn-primary" href="{{ path('e_commerce_read_produit', {slug:produit.slug}) }} ">Plus d'infos</a>
                        <a class="btn btn-success" href="{{ path('e_commerce_panier') }}">Ajouter au panier</a>
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>

        <div class="pagination">
            <ul>
                <li class="disabled"><span>Précédent</span></li>
                <li class="disabled"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Suivant</a></li>
            </ul>
        </div>

    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}



