{% extends 'ECommerceECommerceBundle::layoutFrondEnd.html.twig' %}

{% block menuCategorieProduit %}
    {% render(controller('ECommerceECommerceBundle:FrontEnd/Categorie:list')) %}
{% endblock %}

{% block menuPanier %}
    {% render(controller('ECommerceECommerceBundle:FrontEnd/Panier:menu')) %}
{% endblock %}

{% block menuUtilisateur %}
    {% render(controller('ECommerceUtilisateurBundle:Utilisateur:menu')) %}
{% endblock %}

{% block menuRecherche %}
    {% include ('ECommerceECommerceBundle:FrontEnd/Produit:recherche.html.twig') %}
{% endblock %}

{% block pagecontain %}

    <div class="span9">

        <ul class="thumbnails">

            {% for produit in list_produits %}
            <li class="span3">
                <div class="thumbnail">
                    <img src="{{ asset(produit.media.path) }}" alt="{{ produit.description }}" width="300" height="300">

                    <div class="caption">
                        <h4>{{ produit.nom }}</h4>
                        {% if produit.tva.valeur is not null %}
                        <p>{{ produit.prix|tva(produit.tva.multiplicate) }} €</p>
                        {% endif %}

                        <td>
                            <a class="btn btn-primary" href="{{ path('e_commerce_read_produit', {slug:produit.slug} ) }} ">Plus d'infos</a>

                            {% if panier[produit.id] is not defined   %}
                            <a class="btn btn-success" href="{{ path('e_commerce_panier_ajouter', {slug:produit.slug} ) }}">Ajouter au panier</a>
                            {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>

        {% if list_produits|length  > 0 %}
            <div class="navigation">
                {{ knp_pagination_render(list_produits) }}
            </div>
        {% else %}
            <div class="navigation">
                <h1>Aucun produit dans le panier</h1>
            </div>

        {% endif %}


    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}



