{% extends 'ECommerceECommerceBundle::layoutFrondEnd.html.twig' %}


{% block menu %}
    {% include '@ECommerceECommerce/FrontEnd/Categorie/list.html.twig' %}
{% endblock %}

{% block pagecontain %}

        <div class="span9">
                <div class="row">
                    <div class="span5">
                        <img src="{{ asset(produit.media.path) }}" alt="{{ produit.media.description }}" width="470" height="310">
                    </div>

                    <div class="span4">
                        <h4>{{ produit.nom }}</h4>

                        <p>{{ produit.description }}</p>
                        <h4>{{ produit.prix }} €</h4>

                        <form action="panier.php">

                            <select name="qte" class="span1">
                                <option>1</option>
                            </select>

                            <div>
                                <button class="btn btn-primary">Ajouter au panier</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

