{% extends 'ECommerceECommerceBundle::layoutFrondEnd.html.twig' %}

{% block menuCategorieProduit %}
    {% render(controller('ECommerceECommerceBundle:FrontEnd/Categorie:list')) %}
{% endblock %}

{% block menuPanier %}
    {% render(controller('ECommerceECommerceBundle:FrontEnd/Panier:menu')) %}
{% endblock %}

{% block menuUtilisateur %}
    {% render(controller('ECommerceUtilisateurBundle:Utilisateur:menu')) %}
{% endblock %}

{% block menuRecherche %}
    {% include ('ECommerceECommerceBundle:FrontEnd/Produit:recherche.html.twig') %}
{% endblock %}


{% block pagecontain %}

        <div class="span9">
                <div class="row">
                    <div class="span5">
                        <img src="{{ asset(produit.media.path) }}" alt="{{ produit.media.description }}" width="470" height="310">
                    </div>

                    <div class="span4">
                        <h4>{{ produit.nom }}</h4>

                        <p>{{ produit.description }}</p>
                        <h4>{{ produit.prix }} €</h4>

                        <form action="panier.php">

                            <select name="qte" class="span1">
                                <option>1</option>
                            </select>

                            <div>
                                {% if panier[produit.id] is not defined %}
                                <button class="btn btn-primary" href="{{ path('e_commerce_panier_ajouter', {slug:produit.slug} ) }}">Ajouter au panier</button>
                                {% else %}
                                <button class="btn btn-primary">Ce produit est déjà dans le panier</button>
                                {% endif %}
                            </div>
                        </form>

                    </div>
                </div>
            </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

