{% extends '::layout.html.twig' %}

{% block head %}
    {{ parent() }}

    <link href="{{ asset('bundles/ecommerceecommerce/css/frontend.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="index.php">ECommerce fruits légumes</a>

                    <div class="nav-collapse collapse">
                        {% include ('ECommerceECommerceBundle:FrontEnd/Produit:recherche.html.twig') %}
                    </div>
                    {#{% if form is not defined %}

                        <div class="nav-collapse collapse">
                            {% include ('ECommerceECommerceBundle:FrontEnd/Produit:recherche.html.twig') %}
                        </div>
                    {% endif %}#}

                </div>
            </div>
        </div>

    </header>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="span3">

                <div class="well">
                    <ul class="nav nav-list">
                        <li class="nav-header">Nos produits</li>

                        {% block menu %}
                        {% endblock %}
                    </ul>
                </div>

                <div class="well">
                    <ul class="nav nav-list">
                        <li>
                            <a href="{{ path('fos_user_security_login') }} ">Se connecter</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }} ">S'incrire</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% block pagecontain %}
            {% endblock %}
        </div>
    </div>
{% endblock %}



{% block footer %}
    <footer id="footer" class="vspace20">
        <div class="container">
            <div class="row">
                {#{% include('@ECommercePage/Page/menu.html.twig') %}#}
                <div class="span4 offset1">
                    <h4>Informations</h4>

                    <ul class="nav nav-stacked">
                        {% render(controller('ECommercePageBundle:Page:menu')) %}

                    {#{% for page in list_pages %}
                        <li><a href="{{ path('page_page', {id:page.id}) }}  ">{{ page.titre }}</a></li>
                    {% endfor %}#}
                    </ul>
                </div>

                <div class="span4">
                    <h4>Notre entrepôt</h4>

                    <p><i class="icon-map-marker"></i>&nbsp;Paris 75 000 - 3 rue des jardins</p>
                </div>

                <div class="span2">
                    <h4>Nous contacter</h4>

                    <p><i class="icon-phone"></i>&nbsp;Tel: 02 35 00 00 00</p>

                    <p><i class="icon-print"></i>&nbsp;Fax: 02 35 00 00 00</p>
                </div>
            </div>

            <div class="row">
                <div class="span4">
                    <p>&copy; Copyright 201 - Heyvaert Yohan</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascript %}
    <script src="../js/jquery-1.10.0.min.js"></script>
    <script src="../js/bootstrap.js"></script>
{% endblock %}


